<div class="container">
  <p>
    If you have a question, a concern, a suggestion, or would like to be added to my mailing list
    please send me an e-mail and I will get back to you.
  </p>
  <a href="mailto:info@ann4bristolri.us?Subject=Ask%20Ann">Ask Ann</a>
  <p>
    I have always been a firm believer that Together Everyone Accomplishes More (TEAM). Be
    part of TEAM Ann. I will be planning several events to meet with the residents in a casual
    friendly format. Join my mailing list to keep up to-date on all the activities.
  </p>
  <p>
    If you would like to contribute to my campaign – please mail your contribution payable to
    “Citizens for Ann Gardner”
  </p>
  <p>
    Ann Gardner
  </p>
  <p>
    c/o Citizens for Ann Gardner
  </p>
  <p>
    17 Acacia Road
  </p>
  <p>
    Bristol, RI 02809
  </p>
</div>
