.container {
  padding-top: 5em;
  padding-bottom: 5em;
}
/*
.container:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0.2;
  background-image: url('/assets/u9FVAYz.jpg');
  background-position:40% 0;
  background-size: cover;
}
*/

p,
ul,
ul li {
  font-family: arial;
  font-size: 18px;
}

.aboutImg {
  height: 200px;
  position: relative;
  float:right;
  margin:10px;
}
