<div class="container">
  <img class="aboutImg" src="./assets/Ann_Gardner.jpg" alt="">
  <p>
    I have decided to run for Bristol RI Town Council as the only Independent candidate. I am a
    proud resident of Bristol. I have a great husband, Steve, who I have been married to for nearly
    30 years and two wonderful children, Matthew and Julia. Steve and I met at Roger Williams
    College back in 1983 where we both studied Computer Engineering. We started our careers in
    Massachusetts but still stayed connected with Bristol and visited often with our friends. We had
    the opportunity to move back in early 2000 and are so thankful that we did. Steve runs his own
    small business and I work for Raytheon in Portsmouth. Both of our children attended and
    graduated from the Bristol/Warren school system. Our son just graduated from the University of
    Rhode Island and is working as a software engineer in Pawtucket. Our daughter is halfway
    through her degree for Nutrition and Dietetics at Keene State College in NH.
  </p>
  <p>
    I have decided to run as an Independent candidate because I want to do the right thing based
    on the needs of Bristol and its residents. People that know me understand my commitment to
    any task that I take. I am relentless in my efforts to understand issues and to come up with the
    most beneficial solution. I am an “Independent Thinker” and will use facts and data to make
    decisions. Here are my core values.
  </p>
  <ul>
    <li>
      Conservative = I am fiscally responsible and will conduct careful research and planning
      for the present and future
    </li>
    <li>
      Concerned = I am worried about critical issues that Bristol is currently facing
    </li>
    <li>
      Caring = I will make sure that we take care of all of the residents and businesses of
      Bristol
    </li>
    <li>
      Collaborative = I want to bring the best talent together for issues and to solve problems
    </li>
    <li>
      Community = I want to encourage continued fellowship and volunteerism that exists
      today
    </li>
    <li>
      Committed = I am dedicated to working hard to resolve the current issues and implement
      improvements for the future</li>
    <li>
      Communication = I guarantee transparency
    </li>
  </ul>

  <p><b>Thank you for your support and your vote in November.</b></p>
</div>
