<div class="headerContainer">
  <ul class="headerList">
    <li>
      <a [routerLink]="['about']">About</a>
    </li>
    <li>
      <a [routerLink]="['philosophy']">Philosophy</a>
    </li>
    <li>
      <a [routerLink]="['credentials']">Credentials</a>
    </li>
    <li>
      <a [routerLink]="['endorsements']">Endorsements</a>
    </li>
    <li>
      <a [routerLink]="['events']">Events</a>
    </li>
    <li>
      <a [routerLink]="['contact-us']">Contact Us</a>
    </li>
    <li *ngIf="isAuth()">
      <a [routerLink]="['add-event']">Add Event</a>
    </li>
    <li *ngIf="isAuth()">
      <a [routerLink]="['add-endorsement']">AddEndorsement</a>
    </li>
    <li *ngIf="isAuth()">
      <button class="btn btn-primary" (click)="onLogout()">Logout</button>
    </li>
  </ul>
  <div class="dropdown">
    <button class="fa fa-bars btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-hidden="true"></button>
    <ul class="dropdown-menu">
      <li>
        <a [routerLink]="['about']">About</a>
      </li>
      <li>
        <a [routerLink]="['philosophy']">Philosophy</a>
      </li>
      <li>
        <a [routerLink]="['credentials']">Credentials</a>
      </li>
      <li>
        <a [routerLink]="['endorsements']">Endorsements</a>
      </li>
      <li>
        <a [routerLink]="['events']">Events</a>
      </li>
      <li>
        <a [routerLink]="['contact-us']">Contact Us</a>
      </li>
      <li *ngIf="isAuth()">
        <a [routerLink]="['add-event']">Add Event</a>
      </li>
      <li *ngIf="isAuth()">
        <a [routerLink]="['add-endorsement']">AddEndorsement</a>
      </li>
      <li *ngIf="isAuth()">
        <button class="btn btn-primary" (click)="onLogout()">Logout</button>
      </li>
    </ul>
  </div>





</div>
