<div class="container">
  <p>
    I have been an active and diversified volunteer in Bristol
  </p>
  <ul>
    <li>
      <b>Property Taxes</b>
      <br>
      <ul>
       <li>
         2008 - 2012 - When the property values in Bristol skyrocketed and we had issues
         with the re-valuation company that Bristol hired so I got involved. I learned how
         the process worked and fought hard to resolve issues that resulted. In 2011, I
         was appointed to a ‘Property Revaluation Advisory Committee’ with the intent on
         developing guidelines for the conduct of future reappraisals. This committee
         generated a report and made several suggestions to increase transparency to
         the process as well as reduce errors and the need for appeals. Just last year I
         was appointed to a Revaluation Ad Hoc Committee tasked with pre-reviewing all
         of assessment data before it was finalized and mailed to Bristol residents. Errors
         were identified and corrected. According to our tax assessor, Chris Belair, this
         reduced the number of appeals significantly.
       </li>
      </ul>
    </li>
    <li>
      <b>Community Outreach</b>
      <br>
      <ul>
        <li>
          2009 – 2015 – Participated in the Bristol Elks “Turkey Roll” event for 7 years and
          chaired the event for two years. Activities involve advertising, solicitation of raffle
          items from supporting vendors, event planning, ticket sales, hosting event, and
          filling / delivery of baskets. This fundraising event took months to plan and
          resulted in proceeds in excess of $25,000 spent directly on food baskets and
          supporting local food pantries for the Thanksgiving holiday. This made an impact
          on over 600 families in the area.
        </li>
      </ul>
    </li>
    <li>
      <b>Leadership</b>
      <br>
      <ul>
        <li>
          2008 - Present - President, Bristol Highlands Improvement Association (BHIA).
          In charge of leading the not-for- profit organization with regards to annual
          budgets, maintenance of properties and buildings, as well as conducting the
          100th (2011) year celebration for the organization. Assets for BHIA are in excess
          of $2.5 million dollars. Prior activities include Board Member at large &amp; Vice
          President. Current position is Secretary.
        </li>
      </ul>
    </li>
    <li>
      <b>Education</b>
      <br>
      <ul>
        <li>
          2005 – 2015 - Participated on the Roger Williams University Engineering
          Professional Advisory Board. The primary duties were to ensure that the
          engineering students were being afforded with the best curriculum possible to
          prepare them for the future careers.
        </li>
      </ul>
    </li>
    <li>
      <b>Project Management</b>
      <br>
      <ul>
        <li>
          As a long-time employee for Raytheon I have had numerous leadership
          opportunities where I was responsible for project management, including
          financial planning, monitoring, and reporting. I was also responsible for career
          development of the employees that worked for me. Budgets managed have
          been in excess of $10M.
        </li>
      </ul>
    </li>
  </ul>
</div>
