<form [formGroup]="contactUsForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name: </label>
      <input type="text"
             class="form-control"
             id="name"
             formControlName="name" #name>
      <div *ngIf="contactUsForm.find('name').touched" class="validation-error">
        <span class="validation-error" *ngIf="(contactUsForm.find('name').hasError('required'))">Name is Required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email: </label>
      <input type="text"
             class="form-control"
             id="email"
             formControlName="email" #email>
      <div *ngIf="contactUsForm.find('email').touched" class="validation-error">
        <span class="validation-error" *ngIf="(contactUsForm.find('email').hasError('required'))">Email is Required</span>
        <span class="validation-error" *ngIf="(contactUsForm.find('email').hasError('pattern'))">Email is Invalid</span>
      </div>
    </div>
  <div class="form-group">
    <label for="options">Id like to: </label><br>
    <input type="checkbox" value="Host a small Event" formControlName="check1" id="hostSmallGathering" #hostSmallGathering (change)="updateCheckedOptions(option, $event)">
      <span>Host a small Event</span><br>
    <input type="checkbox" formControlName="check2" id="askQuestion" #askQuestion (change)="updateCheckedOptions(option, $event)">
      <span>Ask a question</span><br>
    <input type="checkbox" formControlName="check3" id="attendEvent" value="Attend a event" #attendEvent (change)="updateCheckedOptions(option, $event)"/>
     <span>Attend a event</span><br>
    <input type="checkbox" formControlName="check4" id="helpFundraising" #helpFundraising (change)="updateCheckedOptions(option, $event)">
      <span>Help with fundraising</span><br>
    <!--<div *ngIf="contactUsForm.find('email').touched" class="validation-error">-->
      <!--<span class="validation-error" *ngIf="(contactUsForm.find('email').hasError('required'))">Email is Required</span>-->
      <!--<span class="validation-error" *ngIf="(contactUsForm.find('email').hasError('pattern'))">Email is Invalid</span>-->
    <!--</div>-->
  </div>
    <div class="form-group">
      <label for="comment">Comment: </label>
      <input type="text"
             class="form-control"
             id="comment"
             formControlName="comment" #comment>
      <div *ngIf="contactUsForm.find('comment').touched" class="validation-error">
        <span class="validation-error" *ngIf="(contactUsForm.find('comment').hasError('required'))">Comment Field is Required</span>
        <span class="validation-error" *ngIf="(contactUsForm.find('comment').hasError('minlength'))">Comment is no long enough</span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!contactUsForm.valid">Submit</button>
</form>

