<form [formGroup]="contactUsForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name: </label>
      <input type="text"
             class="form-control"
             id="name"
             formControlName="name" #name>
      <div *ngIf="contactUsForm.find('name').touched" class="validation-error">
        <span class="validation-error" *ngIf="(contactUsForm.find('name').hasError('required'))">Name is Required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email: </label>
      <input type="text"
             class="form-control"
             id="email"
             formControlName="email" #email>
      <div *ngIf="contactUsForm.find('email').touched" class="validation-error">
        <span class="validation-error" *ngIf="(contactUsForm.find('email').hasError('required'))">Email is Required</span>
        <span class="validation-error" *ngIf="(contactUsForm.find('email').hasError('pattern'))">Email is Invalid</span>
      </div>
    </div>
  <div class="form-group">
    <label for="options">Id like to: </label><br>
    <div *ngFor="let option of options; let i = index">
      <input type="checkbox" name="options" value="{{option}}" id="options" (change)="updateCheckedOptions(option, $event)">
      <span>{{option}}</span><br>
    </div>

    <!--<input type="checkbox" id="hostSmallGathering" #hostSmallGathering>-->
      <!--<span>Host a small Event</span><br>-->
    <!--<input type="checkbox" id="askQuestion" #askQuestion>-->
      <!--<span>Ask a question</span><br>-->
    <!--<input type="checkbox" id="attendEvent" value="Attend a event" #attendEvent (change)="checkboxes[$event.target.getAttribute('value')]=$event.target.checked"/>-->
     <!--<span>Attend a event</span><br>-->
    <!--<input type="checkbox" id="helpFundraising" #helpFundraising>-->
      <!--<span>Help with fundraising</span><br>-->
    <!--<div *ngIf="contactUsForm.find('email').touched" class="validation-error">-->
      <!--<span class="validation-error" *ngIf="(contactUsForm.find('email').hasError('required'))">Email is Required</span>-->
      <!--<span class="validation-error" *ngIf="(contactUsForm.find('email').hasError('pattern'))">Email is Invalid</span>-->
    <!--</div>-->
  <span>{{checkboxes}}</span>
  </div>
    <div class="form-group">
      <label for="comment">Comment: </label>
      <input type="text"
             class="form-control"
             id="comment"
             formControlName="comment" #comment>
      <div *ngIf="contactUsForm.find('comment').touched" class="validation-error">
        <span class="validation-error" *ngIf="(contactUsForm.find('comment').hasError('required'))">Comment Field is Required</span>
        <span class="validation-error" *ngIf="(contactUsForm.find('comment').hasError('minlength'))">Comment is no long enough</span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!contactUsForm.valid">Submit</button>
  <span>{{currentOption}}</span><br>
</form>

