<div class="container">
  <p>
    Bristol is a lovely place to live and raise a family. My goal is to keep the town quaint and full of
    it’s patriotic and community spirit. I have seen the slow transformation that has taken place over
    the past thirty-five years from the time I was a student at Roger Williams College until today. I
    cannot think of a better place to live.
  </p>
  <p>
    Right now, however, Bristol is facing a number of significant issues:
  </p>
  <ul>
    <li>
      The first being of the lawsuit filed on the behalf of the Warren against the Bristol-Warren
      Regional School District and the division of payment based on the state’s school funding
      formula during the 2014-2015 year. The initial Superior Court decision by Judge Luis
      Matos ruled that the Town of Warren was shortchanged by the state’s school funding
      formula and ordered the state Department of Education to change the way it applies the
      formula. Under the new calculation, Warren taxpayers paid $2 million more during the
      2014-2015 year than they should have. Though the judge issued a preliminary ruling in
      Warren’s favor local officials are still waiting for Judge Matos’ final written decision. If the
      final decision is retroactive Bristol could be facing a very large unexpected expenditure.
    </li>
    <li>
      The second is the fact that the town operating budget that has remained fairly steady
      over the past 4 -5 years is creeping up with an increase of 6% this year. Residents have
      already seen this already in their August property taxes.
    </li>
  </ul>
  <p>
    We need to run our town more like a business. Everywhere across the Country businesses
    have had to do more with less. Long-term planning is crucial to any successful business so the
    decisions made along the way are focused on the desired end result. As an engineer I have
    been trained to problem-solve and use facts and data to make decisions. One of my strengths
    is streamlining processes, identifying waste and making improvements and decisions based on
    a solid business model (return on investment).
  </p>
  <p>
    My job at Raytheon is focused on creating innovative solutions to protect our warfighters and
    keep our Country safe. I want the same for Bristol so that it is a safe and prosperous
    community where future generations will be able to afford to live and raise their families. I want
    it to be a friendly and inviting place for business owners to run and expand their businesses. In
    many respects our local businesses are the heart and soul of the town.
  </p>
</div>
