<div class="footerContainer">
  <div class="FooterMenuection">
    <div class="footerMenu">Menu</div>
    <ul class="footerList">
      <li>
        <a [routerLink]="['about']">About</a>
      </li>
      <li>
        <a [routerLink]="['philosophy']">Philosophy</a>
      </li>
      <li>
        <a [routerLink]="['credentials']">Credentials</a>
      </li>
      <li>
        <a [routerLink]="['endorsements']">Endorsements</a>
      </li>
      <li>
        <a [routerLink]="['events']">Events</a>
      </li>
      <li>
        <a [routerLink]="['contact-us']">Contact Us</a>
      </li>
    </ul>
  </div>
  <div class="FooterContactSection">
    <div class="footerContactUs">Contact Us</div>
    <div class="footerEmail">Email:</div>
    <a href="mailto:info@ann4bristolri.us?Subject=Ask%20Ann">info@ann4bristolri.us</a>
  </div>
</div>
